Redirect_uri is not optional

When requesting an authorization code the request_uri is currently required. The RFC says it's an optional field (and when it's not given a previously registered endpoint is used).

**RFC 6749 Section 4.1.1. Authorization Request**

```
The client constructs the request URI by adding the following
parameters to the query component of the authorization endpoint URI
using the "application/x-www-form-urlencoded" format, per Appendix B:

[...]

redirect_uri
      OPTIONAL.  As described in Section 3.1.2.
```

**RFC 6749 Section 3.1.2. Redirection Endpoint**

```
After completing its interaction with the resource owner, the
authorization server directs the resource owner's user-agent back to
the client.  The authorization server redirects the user-agent to the
client's redirection endpoint previously established with the
authorization server during the client registration process or when
making the authorization request.

[...]
```
