Resource owner password for mobile app

Hello,

I have a mobile application (created by myself) which requires Login + Password, i've read the documentation and it says that if it's a First party native app i should use Resource owner password grant flow, but this would mean i store the client_secret in my mobile app.

I don't understand why is this advised ? Isn't the client_secret supposed to not be readable (which it is in a native mobile app) ?

I ask this also, because i read that mobile app should go with authorization (with pkce) code or implicit flow.

Could you clarify this please ?

Thanks in advance!

The Resource Owner Password Credentials Grant Type is actively being discouraged by the IETF, and should not to be used for new applications. See [RFC6819 Section 4.4.3](https://tools.ietf.org/html/rfc6819#section-4.4.3). Also see this IETF draft: [RFC6749 - OAuth 2.0 for Native Apps](https://tools.ietf.org/html/draft-ietf-oauth-native-apps-12) on how Oauth2 should be implemented on native apps.

This boils down to using a similar redirect-scheme as used by desktop browsers. Native apps have an extra vulnerability here, because there's no real control over where the redirect ends up. This is what PKCE protects against.

I found an informative blog post [here](https://pfelix.wordpress.com/2016/02/15/oauth-2-0-and-pkce/). 

Hi @Herz3h - apologies for the delay in responding to you. [This page](https://oauth2.thephpleague.com/authorization-server/which-grant/) might help you to decide which grant you need to use. 

If I am understanding correctly, you have created both the API and the mobile client. Because you are the creator of the mobile app, it is assumed that there is a higher level of trust in this app so you can use the Password Grant with a degree of confidence that the credentials will not be leaked as both the client and the server are within your control.

The resources @raarts has listed should help inform your decision but as per the original OAuth spec, the password grant is designed for such situations.

I hope this is of some assistance and apologies for the delay in responding